*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box ;
}
.articulo1{
    width: 33%;
    
}
.articulo2{
    width: 33%;
}
.articulo3{
    width: 33%;
}
.articulo4{
    width: 33%;
}
body{
    background-color: lightgray;
}

.section1{
    display: flex;
   
   
}
.section2{
    display: flex;
    
}
aside{
    background-color: lightgreen;
    border-radius: 15px;
    width: 20%;
    padding: 10px;
    
}



footer{
    display: block;
    line-height: 40px;
    background: black;
    color: white;
    word-spacing: 30px;
}


nav{
    position: sticky;
    top: 0;
}
nav ul{
    display: block;
    line-height: 40px;
    background: green;
    
    
}

nav ul a:hover{
    background: lightgreen;
}